# Files to ignore because are not necessary at all
__pycache__
config/.ipynb_checkpoints
typescript

# Ignore files from Fabian's results
Fabian/

# Ignore reference files except doc showing locations
Ref_Genomes/1000G_Phase3_LD_scores/
Ref_Genomes/eur_w_ld_chr/
Ref_Genomes/GRCh37/
Ref_Genomes/HapMap3/

# Ignore full results from softwares (only keep csv files)
Results/CONTROLS/*.log
Results/Gnova/
Results/ldsc/
Results/HDL/
Results/plots/

# Csv not ready to share
Results/gnova_genetic_correlation.csv
Results/HDL_genetic_correlation.csv

# Scripts unready or unable to share
## Unable to share
scripts/FIX/
scripts/GNOVA/
scripts/HDL/
scripts/ldsc/

## Not ready
scripts/pipeline/.ipynb_checkpoints
scripts/pipeline/2_add_Ncol.py
scripts/gwas_rehab.ipynb
scripts/pipeline/5B_HDL_run_pairs_automatised.r
scripts/pipeline/6B_HDL_read_results_extract_gencor.py
scripts/pipeline/6C_gnova_read_results_extract_gencor.py

# From sumstats ignore all files except excell_sumstats_description.csv, the others are outputted.
SumStats/PAST_CSV/
SumStats/Munged/
SumStats/RAW/
SumStats/Wrangled/
SumStats/final_sumstats_description.csv
SumStats/paired_datasets.csv